
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( 
        responsive: true,
      )
    ),
  )
);


$utilities: map-merge(
  $utilities,
  (
    "border-radius": (
      property: border-radius,
      class: rounded,
      values: (
        0: 0,
        1: 4px,
        2: 8px,
        3: 12px,
        4: 16px,
        5: 20px,
        6: 24px,
        7: 32px,
        8: 40px,
        9: 48px
      ),
      responsive: true // 🚀 讓它支援 RWD
    )
  )
);

$utilities: map-merge(
  $utilities,
  (
    "flex-shrink": (
      property: flex-shrink,
      class: flex-shrink,
      values: (
        0: 0,
        1: 1
      ),
      responsive: true, // 🚀 開啟 RWD 支援
      important: true     // 🔥 加上 !important
    )
  )
);