.f-text-divider-8px::after {
  content: "";
  display: inline-block;
  width: 1px;              /* 線的粗細 */
  height: 1em;             /* 線的高度，跟文字差不多 */
  background: $white; /* 線的顏色跟文字一樣 */
  margin-left: 8px;        /* 線與「在地手做」的距離 */
  margin-right: 8px;       /* 線與「生活溫度」的距離 */
  vertical-align: middle;  /* 垂直置中 */
}
.fs-14px{
  font-size: 14px;   
}

.gap-100{
    gap:100px;
}

.width-24px{
    max-width: 24px;
    width: 100%;
}
.width-196px{
    width: 196px;

}