


.logo-size{
  width: 60px;
  height: 60px;
}

.search-size{
    max-width: 280px;
    flex: 1 1 280px;  /* flex-grow:1, flex-shrink:1, 基準寬度280px */
    height: 48px;
}

.fs-14px{
  font-size: 14px;   
}


.text-divider-8px::after {
  content: "";
  display: inline-block;
  width: 1px;              /* 線的粗細 */
  height: 1em;             /* 線的高度，跟文字差不多 */
  background: $gray-700; /* 線的顏色跟文字一樣 */
  margin-left: 8px;        /* 線與「在地手做」的距離 */
  margin-right: 8px;       /* 線與「生活溫度」的距離 */
  vertical-align: middle;  /* 垂直置中 */
}


.text-divider-24px::after {
  content: "";
  display: inline-block;
  width: 1px;              /* 線的粗細 */
  height:32px;             /* 線的高度，跟文字差不多 */
  background: $gray-500; /* 線的顏色跟文字一樣 */
  margin-left: 24px;        /* 線與「在地手做」的距離 */
  margin-right: 24px;       /* 線與「生活溫度」的距離 */
  vertical-align: middle;  /* 垂直置中 */
}

.text-divider-16px::after {
  content: "";
  display: inline-block;
  width: 1px;              /* 線的粗細 */
  height:16px;             /* 線的高度，跟文字差不多 */
  background: $white; /* 線的顏色跟文字一樣 */
  margin-left: 16px;        /* 線與「在地手做」的距離 */
  margin-right: 16px;       /* 線與「生活溫度」的距離 */
  vertical-align: middle;  /* 垂直置中 */
}


// 電腦版 nav的hover
@media (min-width: 992px) {
  .active{
    font-weight: bold;
  }
  .nav-link {
    position: relative;
    display: inline-block; /* 依文字長度自適應 */
    padding-bottom: 8px;   /* 下邊距，給下線空間 */
    transition: color 0.3s;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;           /* 下線固定長度 */
    height: 4px;
    background-color: $gray-900; /* 下線顏色 */
    opacity: 0;             /* 預設隱藏 */
    transition: opacity 0.3s;
  }

  .nav-link:hover::after{
    opacity: 1;             /* hover 或 active 顯示下線 */
  }
}


@media (max-width: 1200px) {
  /* 低於 1200px 的樣式寫在這裡 */
  .text-divider-24px::after {
    margin-left: 12px;
    margin-right: 12px;
  }

  .search-size{
    max-width: 150px;
    flex: 1 1 150px;  /* flex-grow:1, flex-shrink:1, 基準寬度280px */
    height: 48px;
}
}


@media (max-width: 991.98px) {

  .nav-link{
    font-weight: 700;
  }

  .nav-item{
    border-bottom: 1px solid $gray-500;
  }
  .text-divider-24px::after {
    display: none;
  }
  .logo-size{
    width: 48px;
    height: 48px;
  }
}