.dot-black-style{
  width: 136px;
  height: 160px;
  position: absolute;
  right: 0;
  top: 48px;
}

.img-w-196px{
    width: 196px;
    height: 224px;
    object-fit: cover; 
}

.img-w-266px{
    width: 266px;
    height: 316px;
    object-fit: cover;
    border: 4px solid white;
}

.py-68px{
    padding-top: 68px;
    padding-bottom: 68px;
}

.about-header-style{
    padding-bottom: 72px;
}

.title-bottom-left-360 {
  position: relative; /* 讓偽元素以這個 span 為基準 */
  display: inline-block; /* 避免 span 寬度撐不開 */
  padding-bottom: 16px; /* 為底線和其間距預留空間 */
  width: 360px;
}

.title-bottom-left-360::after {
  content: "";
  position: absolute;
  left:0; /* 讓底線的起點在父元素的中間 */
//   transform: translateX(-50%); /* 讓底線向左移動自身寬度的一半 */
  bottom: 0px; /* 與文字間距 */
  width: 360px; /* 底線長度，比文字多 20% */
  height: 2px; /* 底線粗細 */
  background-color: $gray-900; /* 底線顏色 */
}

.height-628px{
    height: 628px;
    width: 100%;
    object-fit: cover;
}

.year-list {
  width: 60px;
  height: 60px;
    // padding: 14px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: $gray-900;
  background-color: white;
}

.year-list.active {
  background-color: black;
  color: white;
}
.w-60px{
    width: 60px;
}
.no-shrink {
    flex-shrink: 0;
}
/* 設定連接線的樣式 */
.v-line {
  /* 這裡不需要 position: relative，因為它會隨著 flex-column 排列 */
  display: block; /* 讓 span 變成區塊元素，可以設定寬高 */
  width: 2px; /* 垂直線的粗細 */
  height: 36px; /* 垂直線的長度 */
  background-color: $gray-900; /* 線的顏色 */
  margin: 8px 0; /* 在上下創造間隙，讓線與按鈕分離 */
}

@media (max-width: 991.98px) {
    .about-mobile-container{
      height: 384px;
      width: 351px;
    }
    .title-bottom-left-360 {
        width: auto;

        }

    .title-bottom-left-360::after {
        content: "";
        position: absolute;
        left:50%; /* 讓底線的起點在父元素的中間 */
        transform: translateX(-50%); /* 讓底線向左移動自身寬度的一半 */
        bottom: 0px; /* 與文字間距 */
        width: 200px; /* 底線長度，比文字多 20% */
        height: 2px; /* 底線粗細 */
        background-color: $gray-900; /* 底線顏色 */
    }
    .about-header-style{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .dot-black-style{
      display: none;
    }
    .year-list {
      width: 40px;
      height: 40px;
    }
    .img-h-174{
      height: 174.5px;
      width: auto;
    }
    .height-400px{
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
}