.dot-position{
  position: absolute;
  top: 0;
  left: 88px;
  width: 136px;
  height: 160px;
}
.bage-border-bottom-left-radius{
  border-bottom-left-radius:8px;
}
.custom-g{
  --bs-gutter-x: 40px;
  --bs-gutter-y: 40px;
}

.line-position{
  position: absolute;
  bottom:  0;
  right:  -20px;
  width: 264px;
  height: 88px;
}

.card-author-style{
  width: calc(100% - 24px); 
  margin: 0 12px;
  height: 96px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,     /* 最頂端透明 */
    rgba(255, 255, 255, 0) 4px,    /* 保持透明到 8px */
    rgba(255, 255, 255, 0.9) 8px, /* 漸層開始過渡 */
    rgba(255, 255, 255, 1) 100%    /* 底部純白 */
  );
}
.img-height-418px{
  height: 418px;
  width: 100%;          /* 填滿容器寬度 */
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
}

.img-height-617px{
  height: 617px;
  width: 100%;          /* 填滿容器寬度 */
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
}

.img-height-lg-320px{
  height: 320px;
  width: 100%;          /* 填滿容器寬度 */
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
}

.mb-60px{
  margin-bottom: 60px;
}


.front-size-1{
  top: 0;     
  left: 12px;
  width: 320px;
  height: 360px;
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
  // border: 4px solid white;
  border: 4px solid white;
  
}

.behind-size-1{
  right: 12px;   
  bottom: 0;
  width: 260px;
  height: 280px;
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
  // border: 4px solid white;
  border: 4px solid white;
  
}





.front-size-2{
  right: 12px;   
  bottom: 0;

  width: 320px;
  height: 360px;
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
  // border: 4px solid white;
  border: 4px solid white;
  
}

.behind-size-2{
  top: 0;     
  left: 12px;
  width: 260px;
  height: 280px;
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
  // border: 4px solid white;
  border: 4px solid white;
  
}
.heart-pos{
  position: absolute;
  right: 16px;
  bottom: 16px;
  border-radius: 50%;
  background-color: rgba(33, 37, 41, 0.5);
  cursor: pointer;
}


.card-top-left-radius{
  border-top-left-radius: 40px; 
}

.card-img-height{
  height: 312px;
  width: 100%;          /* 填滿容器寬度 */
  object-fit: cover;    /* 維持比例，超出裁切 */
  object-position: center; /* 裁切的時候置中 */
}


.card-flow-size{
  min-width: 306px ;
  max-width: 306px;
  flex-shrink: 0 ;
}


.product-mb{
  margin-bottom: 60px;
}
.title-bottom-reverse {
  position: relative; /* 讓偽元素以這個 span 為基準 */
  display: inline-block; /* 避免 span 寬度撐不開 */
}

.title-bottom-reverse::after {
  content: "";
  position: absolute;
  right: 0px;  
  bottom: -16px;  /* 與文字間距 */
  width: 360px; 
  height: 2px;
  background-color: $gray-900; /* 底線顏色 */
}

.title-bottom {
  position: relative; /* 讓偽元素以這個 span 為基準 */
  display: inline-block; /* 避免 span 寬度撐不開 */
}

.title-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px; /* 與文字間距 */
  width: 360px; /* 底線長度，比文字多 20% */
  height: 2px; /* 底線粗細 */
  background-color: $gray-900; /* 底線顏色 */
}

.title-bottom-white {
  position: relative; /* 讓偽元素以這個 span 為基準 */
  display: inline-block;       /* 讓它是一整塊，而不是剛好包文字 */

}

.title-bottom-white::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px; /* 與文字間距 */
  width: 360px; /* 底線長度，比文字多 20% */
  height: 2px; /* 底線粗細 */
  background-color: $white; /* 底線顏色 */
}

.slogan-fs{
  font-size: 48px;
}
.slogan-pos{
  max-width: 526px;
  width: 100%;
  position:absolute;
  top:230px;
  left:calc(50vw - 526px);
  padding: 24px;
}



.header-height{
  max-width: 1920px;     /* 最大寬度 */
  height: 800px;     /* 最大高度 */
  width: 100%;           /* 在小螢幕可縮小 */
  // height: auto;          /* 保持比例 */
  object-fit: cover;     /* 超過容器時裁切 */
  object-position: center; /* 裁切位置置中 */
}

.carousel-item {
  position: relative;
}

.carousel-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px; /* 遮罩高度可調整 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
  pointer-events: none; /* 確保不擋到滑動/按鈕 */
   z-index: 1;
}


.carousel-indicators [data-bs-target] {
  background-color: $gray-500; 
}

.carousel-indicators .active {
  background-color: $gray-900; /* 被選中的顏色 */
}

.mobile-scroll::-webkit-scrollbar {
    display: none;
}
.mobile-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.width-104{
  width: 104px;
}
@media (max-width: 991.98px) {

  .card-top-left-radius-mob-none{
    border-radius: 0px;
  }
  .custom-g{
    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;
  }

  .img-height-426px{
      height: 426px;
      width: 100%;          /* 填滿容器寬度 */
      object-fit: cover;    /* 維持比例，超出裁切 */
      object-position: center; /* 裁切的時候置中 */
    }
   .mobile-container-size{
    height: 526px;
   }
  .title-bottom::after {
    width: 100%; /*底線語文字同寬*/
  }

  .title-bottom-white::after {
    width: 200px; 
    left: 50%; /* 將左邊緣移到中間 */
    transform: translateX(-50%); /* 再往回移自身寬度的一半 */
  }

  .title-bottom-reverse::after {

    width: 100%; 

  }
  .card-flow-size{
    min-width: 258px;
    flex-shrink: 0;
  }
  .card-img-height{
    height: 280px;
  }
  .product-mb{
    margin-bottom: 24px;
  }

  .carousel-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px; /* 遮罩高度可調整 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
    pointer-events: none; /* 確保不擋到滑動/按鈕 */
    z-index: 1
  }
  .slogan-fs{
    font-size: 28px;
  }
  .header-height{
    max-width: 1920px;     /* 最大寬度 */
    height: 600px;     /* 最大高度 */
    width: 100%;           /* 在小螢幕可縮小 */
    // height: auto;          /* 保持比例 */
    object-fit: cover;     /* 超過容器時裁切 */
    object-position: center; /* 裁切位置置中 */
  }
  .slogan-pos{
    // width: auto;
    top:330px;
    left:50%;
    transform: translateX(-50%); /* 將自身寬度往左移一半 */
    padding: 24px 12px;
  }


}

@media (max-width: 1800px) {
    .dot-position{
      display: none;
    }
    .line-position{
      display: none;
    }
  }