<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>關於我們</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header class="w-100 bg-gray-200  position-relative overflow-hidden">
        <div class="container about-header-style d-flex justify-content-center">
            <div class="d-flex justify-content-strat z-3 align-items-center ">
                <h1 class="fw-bold fs-lg-1 fs-3 text-gray-900 title-bottom-left-360">關於職人匠心</h1>   
            </div>
            <img src="../assets/images/about/about-header.png" alt="" class="z-3 d-none d-lg-block">
        </div>
        <img src="../assets/images/about/文字裝飾.svg" alt="" class="position-absolute bottom-0 start-50 translate-middle-x d-none d-lg-block">
        <img src="../assets/images/product-item/white-dot.svg" alt="" class="product-item-dot-position-header-right">
    </header>
    <section class="container py-lg-11 py-10 position-relative d-flex flex-column align-items-lg-start align-items-center ">
        <div class="w-100 d-flex justify-content-center justify-content-lg-start mb-10">
            <span class="fw-bold fs-lg-1 fs-3 text-gray-900 title-bottom-left-360">品牌年表</span>   
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-1 d-flex flex-column align-items-center  ">
            <button class=" fs-lg-2 fs-5 year-list fw-bold d-flex align-items-center justify-content-center active">1</button>
            <div class="w-60px  d-flex justify-content-center"><span class="v-line "></span></div>
            <button class=" fs-lg-2 fs-5 year-list fw-bold d-flex align-items-center justify-content-center">2</button>
            <div class="w-60px  d-flex justify-content-center"><span class="v-line "></span></div>
            <button class=" fs-lg-2 fs-5 year-list fw-bold d-flex align-items-center justify-content-center ">3</button>
            <div class="w-60px  d-flex justify-content-center"><span class="v-line "></span></div>
            <button class=" fs-lg-2 fs-5 year-list fw-bold d-flex align-items-center justify-content-center ">4</button>
            <div class="w-60px  d-flex justify-content-center"><span class="v-line "></span></div>
            <button class=" fs-lg-2 fs-5 year-list fw-bold d-flex align-items-center justify-content-center ">5</button>
          </div>
          <div class="col-11 d-flex flex-column align-items-center align-items-lg-start">
            <div class="timeline-content">
              <p class="mb-lg-6 mb-2 d-flex flex-column">
                <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-lg-4 mb-2">2004</span>
                <span class="fs-lg-4 fs-6 text-gray-600">在台北松山，第一家職人匠心開幕</span>
              </p>
            </div>
            <div class="timeline-content  d-none">
              <p class="mb-lg-6 mb-2 d-flex flex-column">
                <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-lg-4 mb-2">2008</span>
                <span class="fs-lg-4 fs-6 text-gray-600">從陶藝到木工，染布，香氛等領域，打造職人生活提案，擴大營業</span>
              </p>
            </div>
            <div class="timeline-content  d-none">
              <p class="mb-lg-6 mb-2 d-flex flex-column">
                <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-lg-4 mb-2">2010</span>
                <span class="fs-lg-4 fs-6 text-gray-600">職人匠心線上購物開始營業</span>
              </p>
            </div>
            <div class="timeline-content  d-none">
              <p class="mb-lg-6 mb-2 d-flex flex-column">
                <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-lg-4 mb-2">2018</span>
                <span class="fs-lg-4 fs-6 text-gray-600">「獲選創生設計聯盟」認證品牌，推動工藝文化再生</span>
              </p>
            </div>
            <div class="timeline-content  d-none">
              <p class="mb-lg-6 mb-2 d-flex flex-column">
                <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-lg-4 mb-2">2024</span>
                <span class="fs-lg-4 fs-6 text-gray-600">30間店鋪達成，員工突破1000人</span>
              </p>
            </div>
            <div class="row gap-lg-0 gap-4 d-flex flex-column flex-lg-row align-items-center">
              <img src="../assets/images/about/about-1.jpg" alt="" class="col-lg-6 img-h-174">
              <img src="../assets/images/about/about-2.jpg" alt="" class="col-lg-6 img-h-174">
            </div>
          </div>
        </div>
    </section>
    <section class="w-100 py-lg-11 py-10 bg-gray-100">
      <div class="container">
        <div class="w-100 d-flex justify-content-center justify-content-lg-start mb-10">
            <span class="fw-bold fs-lg-1 fs-3 text-gray-900 title-bottom-left-360">品牌故事</span>   
        </div>
        <p class="mb-10 d-flex flex-column gap-6">
          <span class="fw-bold fs-3 text-gray-900">手作的溫度，來自土地與人心</span>
          <span class="fs-4 text-gray-600 lh-1-2">在地職人手作平台，串聯台灣各地陶藝、木工、植物染與香氛等領域的創作者，我們相信，一只陶杯、一張木椅，不只是生活用品，更是職人投入時間與心力的結晶。</span>
          <span class="fs-4 text-gray-600 lh-1-2">我們希望透過這個平台，讓手作之美不再只是工藝市集的短暫駐足，而是真正走進人們的日常，成為你生活風景的一部分。選擇我們，就是選擇一種更有感的生活方式。讓職人的用心，點亮你生活中的每一個角落。</span>
        </p>
        <img src="../assets/images/about/about-3.jpg" alt="" class="height-628px d-none d-lg-block">
        <img src="../assets/images/about/about-3-all.jpg" alt="" class="height-400px d-flex d-lg-none">
      </div>
    </section>
    <section class="w-100 position-relative py-11">
      <div class="container  ">
        <div class="w-100 d-flex justify-content-center justify-content-lg-start mb-10">
              <span class="fw-bold fs-lg-1 fs-3 text-gray-900 title-bottom-left-360">社會責任</span>   
        </div>
        <div class="row pb-10 border-bottom d-flex justify-content-center">
          <div class="col-lg-4 position-relative about-mobile-container">
            <img src="../assets/images/about/about-5.jpg" alt="" class="img-w-196px position-absolute top-0 start-0 ">
            <img src="../assets/images/about/about-6.jpg" alt="" class="img-w-266px position-absolute bottom-0 end-0 z-2">
          </div>
          <div class="col-lg-8 py-68px">
            <p class="mb-0 d-flex flex-column ">
              <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-6">傳承工藝，守護土地的記憶</span>
              <span class="fs-lg-4 fs-6 text-gray-600 lh-1-2 mb-4">在地職人手作平台相信，手作不只是商品，更承載著地方文化與技藝的延續。我們積極與各地工藝工作室、老職人合作，記錄、保存並推廣逐漸式微的傳統工法，讓這些寶貴的智慧不被時代遺忘。</span>
              <span class="fs-lg-4 fs-6  text-gray-600 lh-1-2">透過平台，我們讓更多人認識手作背後的價值與故事，也為下一代打造能與文化連結的生活方式。我們相信，唯有讓工藝在生活中持續被看見與使用，文化才真正活著。</span>
            </p>
          </div>
        </div>
        <div class="row pt-10 d-flex justify-content-center">
          <div class="col-lg-4 position-relative order-first order-lg-last about-mobile-container">
            <img src="../assets/images/about/about-7.jpg" alt="" class="img-w-266px position-absolute top-0 start-0 z-2">
            <img src="../assets/images/about/about-8.jpg" alt="" class="img-w-196px position-absolute bottom-0 end-0 ">
          </div>
          <div class="col-lg-8 py-68px  order-last order-lg-first ">
            <p class="mb-0 d-flex flex-column ">
              <span class="fw-bold fs-lg-3 fs-5 text-gray-900 mb-6">傳承工藝，守護土地的記憶</span>
              <span class="fs-lg-4 fs-6 text-gray-600 lh-1-2 mb-4">在地職人手作平台相信，手作不只是商品，更承載著地方文化與技藝的延續。我們積極與各地工藝工作室、老職人合作，記錄、保存並推廣逐漸式微的傳統工法，讓這些寶貴的智慧不被時代遺忘。</span>
              <span class="fs-lg-4 fs-6 text-gray-600 lh-1-2">透過平台，我們讓更多人認識手作背後的價值與故事，也為下一代打造能與文化連結的生活方式。我們相信，唯有讓工藝在生活中持續被看見與使用，文化才真正活著。</span>
            </p>
          </div>
        </div>
      </div>
      <img src="../assets/images/about/dot-black.svg" alt="" class="dot-black-style">
    </section>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../assets/js/about.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
