<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>產品分類</title>
  </head>
  <body>
    <%- include('./layout/header-product'); -%>

    <header class="W-100 bg-gray-600 py-11 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex justify-content-center justify-content-lg-between">
                <h1 class="fw-bold fs-lg-1 fs-3 text-white title-bottom-white">產品分類</h1>
                <a href="" class="py-3 text-decoration-none d-none d-lg-flex justify-content-between align-items-center custom-btn-m text-white border-0">
                    <span class="fs-4 me-2 fw-bold">產品介紹一覽</span>
                    <img src="../assets/images/product/icon-arrow-white-2.svg" alt="" class="p-3 ">
                </a>
            </div>
            <div class="row mt-10 d-none d-lg-flex">
                <a href=""  class="col text-decoration-none d-flex flex-column align-items-center gap-4">
                  <img src="../assets/images/product/product-hero-1.png" alt="">
                  <p class="mb-0"><span class="fs-5 text-white">新品報到</span></p>
                </a>
                <a href=""  class="col text-decoration-none d-flex flex-column align-items-center gap-4">
                  <img src="../assets/images/product/product-hero-2.png" alt="">
                  <p class="mb-0"><span class="fs-5 text-white">冠軍排名</span></p>
                </a>
                <a href=""  class="col text-decoration-none d-flex flex-column align-items-center gap-4">
                  <img src="../assets/images/product/product-hero-3.png" alt="">
                  <p class="mb-0"><span class="fs-5 text-white">限時搶購</span></p>
                </a>
                <a href=""  class="col text-decoration-none d-flex flex-column align-items-center gap-4">
                  <img src="../assets/images/product/product-hero-4.png" alt="">
                  <p class="mb-0"><span class="fs-5 text-white">陶杯・ 碗盤</span></p>
                </a>
                <a href=""  class="col text-decoration-none d-flex flex-column align-items-center gap-4">
                  <img src="../assets/images/product/product-hero-5.png" alt="">
                  <p class="mb-0"><span class="fs-5 text-white">染巾・ 桌布</span></p>
                </a>
                <a href=""  class="col text-decoration-none d-flex flex-column align-items-center gap-4">
                  <img src="../assets/images/product/product-hero-6.png" alt="">
                  <p class="mb-0"><span class="fs-5 text-white">傢俱・ 印章</span></p>
                </a>
            </div>
        </div>
        <img src="../assets/images/index/dotdot.svg" alt="" class="dot-position-header">
        <img src="../assets/images/index/lineline.svg" alt="" class="line-position-header">
    </header>
    <section class="container py-11">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">首頁</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">藝人工藝系列</a></li>
          <li class="breadcrumb-item active text-gray-900 fs-6 fw-normal" aria-current="page">柴燒碗盤</li>
        </ol>
      </nav>
      <div class="row mt-10 ">
        <div class="col-3 d-none d-lg-block">
          <div class="accordion px-4" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  <span class="text-gray-900 fs-5 fw-bold">新品報到</span>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>手做生活嚴選季</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">全面 85 折</span></a>   
                </div>
              </div>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>週年慶</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">買 1000 折 100</span></a>  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <span class="text-gray-900 fs-5 fw-bold">冠軍排名</span>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>手做生活嚴選季</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">全面 85 折</span></a>
                </div>
              </div>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>週年慶</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">買 1000 折 100</span></a>            
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  <span class="text-gray-900 fs-5 fw-bold">限時搶購</span>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>手做生活嚴選季</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">全面 85 折</span></a>                  
                </div>
              </div>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>週年慶</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">買 1000 折 100</span></a>                  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  <span class="text-gray-900 fs-5 fw-bold">手工陶杯・碗盤</span>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>手做生活嚴選季</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">全面 85 折</span></a>   
                </div>
              </div>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>週年慶</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">買 1000 折 100</span></a> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                  <span class="text-gray-900 fs-5 fw-bold">植物染巾・桌布</span>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>手做生活嚴選季</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">全面 85 折</span></a>   
                </div>
              </div>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>週年慶</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">買 1000 折 100</span></a> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                  <span class="text-gray-900 fs-5 fw-bold">原木傢俱・印章</span>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>手做生活嚴選季</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">全面 85 折</span></a>   
                </div>
              </div>
              <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                  <a href="" class="text-decoration-none text-gray-600 fs-6 d-flex gap-2 align-items-center"><span>週年慶</span><span class="border border-1 border-gray-600 py-1 px-2 rounded-1">買 1000 折 100</span></a>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 ">
          <div class="mb-10">
            <h4 class="fs-lg-3 fs-5 fw-bold text-gray-900">手工陶杯， 溫潤生活的開始</h4>
            <span class="fs-6 fs-lg-5 text-gray-600">在快節奏的生活中，從一杯溫熱的手工陶杯茶開始，讓身心緩緩放鬆。每一個陶杯都是職人用柴燒工藝細心打造，結合土壤的天然紋理與溫潤手感，不僅承載茶香，更帶來生活的溫度與質感。讓手作的溫度陪伴你每一天，感受自然與工藝的完美結合。</span>
          </div>
          <div class="row  gap-6 justify-content-center justify-content-lg-start">
            <div class="col-sm-3 px-3 px-sm-0 card-flow-size">
                <div class="card border-0 position-relative ">
                  <div class="position-relative">
                    <img src="../assets/images/product/ceramics-1.png" class="card-img-top card-img-height-312 card-top-left-radius" alt="...">
                    <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
                  </div>
                  <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">TOP 1</span>
                  <a class="card-body text-decoration-none" href="../pages/product-item.html">
                    <h5 class="card-title mb-0 d-flex justify-content-between align-items-center">
                      <span class="fs-4 fw-bold">天然柴燒陶杯</span>
                      <img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none">
                    </h5>
                      <p class="card-text py-4 mb-0 border-bottom border-gray-900 d-flex align-items-center">
                        <span class="fs-6">NT$</span>
                        <span class="fw-bold fs-4 ms-1">3,161</span>
                      </p>          
                  </a>
                </div>
            </div>
            <div class="col-sm-3 px-3 px-sm-0 card-flow-size">
              <div class="card border-0 position-relative">
                <div class="position-relative">
                  <img src="../assets/images/product/ceramics-2.png" class="card-img-top card-img-height-312 card-top-left-radius" alt="...">
                  <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
                </div>
                <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">TOP 2</span>
                <a class="card-body text-decoration-none" href="">
                  <h5 class="card-title mb-0 d-flex justify-content-between align-items-center">
                    <span class="fs-lg-4 fs-5 fw-bold">原色柴燒陶杯</span>
                    <img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none">
                  </h5>
                  <p class="card-text py-4 mb-0 border-bottom border-gray-900 d-flex align-items-center">
                    <span class="fs-6">NT$</span>
                    <span class="fw-bold fs-4 ms-1">1,999</span>
                  </p>
                </a>
              </div>
            </div>
            <div class="col-sm-3 px-3 px-sm-0 card-flow-size">
              <div class="card border-0 position-relative">
                <div class="position-relative">
                  <img src="../assets/images/product/ceramics-3.png" class="card-img-top card-img-height-312 card-top-left-radius" alt="...">
                  <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
                </div>
                <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">TOP 3</span>
                <a class="card-body text-decoration-none" href="">
                  <h5 class="card-title mb-0 d-flex justify-content-between align-items-center">
                    <span class="fs-lg-4 fs-5 fw-bold">極簡手作陶杯</span>
                    <img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none">
                  </h5>
                  <p class="card-text py-4 mb-0 border-bottom border-gray-900 d-flex align-items-center">
                    <span class="fs-6">NT$</span>
                    <span class="fw-bold fs-4 ms-1">1,000</span>
                  </p>
                </a>
              </div>
            </div>
            <div class="col-sm-3 px-3 px-sm-0 card-flow-size">
              <div class="card border-0 position-relative">
                <div class="position-relative">
                  <img src="../assets/images/product/ceramics-4.png" class="card-img-top card-img-height-312 card-top-left-radius" alt="...">
                  <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
                </div>
                
                <a class="card-body text-decoration-none" href="">
                  <h5 class="card-title mb-0 d-flex justify-content-between align-items-center">
                    <span class="fs-lg-4 fs-5 fw-bold">傳統柴燒陶杯</span>
                    <img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none">
                  </h5>
                  <p class="card-text py-4 mb-0 border-bottom border-gray-900 d-flex align-items-center">
                    <span class="fs-6">NT$</span>
                    <span class="fw-bold fs-4 ms-1">2,280</span>
                  </p>
                </a>
              </div>
            </div>
            <div class="col-sm-3 px-3 px-sm-0 card-flow-size">
              <div class="card border-0 position-relative">
                <div class="position-relative">
                  <img src="../assets/images/product/ceramics-5.png" class="card-img-top card-img-height-312 card-top-left-radius" alt="...">
                  <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
                </div>
                <a class="card-body text-decoration-none" href="">
                  <h5 class="card-title mb-0 d-flex justify-content-between align-items-center">
                    <span class="fs-lg-4 fs-5 fw-bold">柴燒手工陶杯</span>
                    <img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none">
                  </h5>
                  <p class="card-text py-4 mb-0 border-bottom border-gray-900 d-flex align-items-center">
                    <span class="fs-6">NT$</span>
                    <span class="fw-bold fs-4 ms-1">3,200</span>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center mt-10">
            <div class="btn-group gap-2 " role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary  arrow-style d-lg-block d-none"><img src="../assets/images/product/arrow-left-2.svg" alt=""></button>
              <button type="button" class="btn btn-outline-secondary  arrow-style d-block d-lg-none"><img src="../assets/images/product/chevron-left.svg" alt=""></button>
              <button type="button" class="btn btn-outline-secondary  page-style">1</button>
              <button type="button" class="btn btn-outline-secondary  page-style">2</button>
              <button type="button" class="btn btn-outline-secondary  page-style">...</button>
              <button type="button" class="btn btn-outline-secondary  page-style d-lg-block d-none">3</button>
              <button type="button" class="btn btn-outline-secondary  page-style d-lg-block d-none">4</button>
              <button type="button" class="btn btn-outline-secondary  page-style d-lg-block d-none">5</button>
              <button type="button" class="btn btn-outline-secondary  page-style d-lg-block d-none">6</button>
              <button type="button" class="btn btn-outline-secondary  arrow-style d-block d-lg-none"><img src="../assets/images/product/chevron-right.svg" alt=""></button>
              <button type="button" class="btn btn-outline-secondary  arrow-style d-lg-block d-none"><img src="../assets/images/product/arrow-right-2.svg" alt=""></button>
            </div>
          </div>

        </div>
      </div>
    </section>


    <%- include('./layout/footer'); -%>
    <script type="module" src="../assets/js/index.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
