<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>產品介紹</title>
  </head>
  <body>
    <%- include('./layout/header-product'); -%>

    <header class="W-100 bg-gray-200  position-relative overflow-hidden">
        <div class="container py-11">
            <div class="d-flex justify-content-center">
                <h1 class="fw-bold fs-lg-1 fs-3 text-gray-900 title-bottom-center">手做，溫暖的生活伙伴</h1>
            </div>
        </div>
        <img src="../assets/images/product-item/white-dot.svg" alt="" class="product-item-dot-position-header-left ">
        <img src="../assets/images/product-item/white-dot.svg" alt="" class="product-item-dot-position-header-right">
    </header>
    <section class="container py-lg-11 py-10 position-relative ">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb d-none d-lg-flex">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">首頁</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">職人工藝系列</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">柴燒碗盤</a></li>
          <li class="breadcrumb-item active text-gray-900 fs-6 fw-normal" aria-current="page">天然柴燒陶杯</li>
        </ol>
        <ol class="breadcrumb d-flex d-lg-none">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">首頁</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">職人工藝系列</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-gray-600 fs-6">碗盤</a></li>
          <li class="breadcrumb-item active text-gray-900 fs-6 fw-normal" aria-current="page">陶杯</li>
        </ol>
      </nav>
      <div class="row mt-10 gap-6 gap-lg-0">
        <div class="col-lg-7">
          <div>
            <img src="../assets/images/product-item/ceramic-cup-1.png" alt="" class="img-product-main" id="mainProductImage">
          </div>
          <div class="row mt-4 mt-lg-6">
            <div class="col">
              <img src="../assets/images/product-item/ceramic-cup-2.png" alt="" class="img-product-part">
            </div>
            <div class="col">
              <img src="../assets/images/product-item/ceramic-cup-3.png" alt="" class="img-product-part">
            </div>
            <div class="col">
              <img src="../assets/images/product-item/ceramic-cup-4.png" alt="" class="img-product-part">
            </div>
          </div>
        </div>
        <div class="col-lg-5 d-flex flex-column ">
          <div class="d-flex justify-content-between mb-4 align-items-center">
            <span class="fs-2 fw-bold text-gray-900 mb-0">溪韻・天然柴燒陶杯</span>
            <span class="p-3"><i class="bi bi-heart cursor-pointer" id="heartIcon"></i></span>
          </div>
          <div class="d-flex gap-4 mb-4">
            <span class="fs-7 text-gray-600 px-4 py-2 border rounded-6px border-gray-600">VIP 會員獨享</span>
            <span class="fs-7 text-gray-600 px-4 py-2 border rounded-6px border-gray-600">週年慶・滿千送百</span>
          </div>
          <div class="d-flex align-items-center mb-6">
            <span class="fs-6 text-gray-800 me-2">NT$</span>
            <span class="fs-4 text-gray-800 fw-bold">3,161</span>
          </div>
          <div class="d-flex flex-column mb-4">
            <span class="mb-2 fs-6">顏色選擇</span>
            <ol class="list-unstyled d-flex gap-6 mb-0 flex-nowrap overflow-auto" id="color-options">
              <li class="d-flex flex-column align-items-center gap-2 flex-shrink-0"><img src="../assets/images/product-item/color-1.png" alt="" class="color-box-size"><span class="fs-7">火灰</span></li>
              <li class="d-flex flex-column align-items-center gap-2 flex-shrink-0"><img src="../assets/images/product-item/color-2.png" alt="" class="color-box-size"><span class="fs-7">靜白</span></li>
              <li class="d-flex flex-column align-items-center gap-2 flex-shrink-0"><img src="../assets/images/product-item/color-3.png" alt="" class="color-box-size"><span class="fs-7">流釉</span></li>
              <li class="d-flex flex-column align-items-center gap-2 flex-shrink-0"><img src="../assets/images/product-item/color-4.png" alt="" class="color-box-size"><span class="fs-7">落土</span></li>
            </ol>
          </div>
          <div class="d-flex flex-column mb-6">
            <span class="mb-2 fs-6">規格選擇</span>
            <ol class="list-unstyled d-flex gap-6 mb-0 flex-nowrap overflow-auto" id="quantity-options">
              <li class="d-flex flex-column align-items-center gap-2 quantity flex-shrink-0"><img src="../assets/images/product-item/ceramic-cup-1.png" alt="" class="quantity-box-size"><span class="fs-7">單入裝</span></li>
              <li class="d-flex flex-column align-items-center gap-2 quantity flex-shrink-0"><img src="../assets/images/product-item/ceramic-cup-2.png" alt="" class="quantity-box-size"><span class="fs-7">雙入組</span></li>
              <li class="d-flex flex-column align-items-center gap-2 quantity flex-shrink-0"><img src="../assets/images/product-item/ceramic-cup-3.png" alt="" class="quantity-box-size"><span class="fs-7">四色組</span></li>
              <li class="d-flex flex-column align-items-center gap-2 quantity flex-shrink-0"><img src="../assets/images/product-item/ceramic-cup-4.png" alt="" class="quantity-box-size"><span class="fs-7">家庭組</span></li>
            </ol>
          </div>
          <div class="mb-6">
            <span class="fs-6 text-gray-900 mb-4">數量選擇</span>
            <div class="d-flex gap-2">
              <img src="../assets/images/product-item/icon-dec.svg" alt="" class="p-6px cursor-pointer" id="decreaseBtn">
              <span class="quantity-num"  id="quantity">1</span>
              <img src="../assets/images/product-item/icon-add.svg" alt="" class="p-6px cursor-pointer" id="increaseBtn">
            </div>
          </div>
          <div class="row gap-6 px-3 px-lg-0">
            <div class="col d-flex px-lg-2 py-lg-3 p-4 align-items-center border border-gray-900 justify-content-between">
              <span class="fs-5 text-gray-900 fw-bold">加入購物車</span>
              <img src="../assets/images/header/icon-arrow.svg" alt="" class="p-lg-3 p-0">
            </div>
            <div class="col d-flex px-lg-2 py-lg-3 p-4 bg-gray-900 align-items-center border border-gray-900 justify-content-between">
              <span class="fs-5 text-white fw-bold">直接購買</span>
              <img src="../assets/images/header/icon-arrow-white.svg" alt="" class="p-lg-3 p-0">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex mt-10 p-lg-6 py-4 px-4 border-bottom border-gray-600 ">
        <a href="" class=" text-decoration-none item-introduction active ">產品說明</a>
        <a href="" class=" text-decoration-none item-introduction ">注意事項</a>
        <a href="" class="text-decoration-none item-introduction ">產品規格</a>
      </div>
      <div class="bg-gray-100  p-48px mt-10">
        <div class="d-flex flex-column">
          <h4 class="fs-3 text-gray-900 fw-bold mb-6">每只陶杯皆獨一無二</h4>
          <p class="d-flex flex-column mb-0 lh-1-2">
            <span class="fs-5 text-gray-600">每只陶杯皆由職人拉胚並柴燒成形，紋理獨一無二</span>
            <span class="fs-5 text-gray-600">經高溫柴燒燻燒數十小時，自然呈現層次分明的火痕與落灰肌理</span>
          </p>
        </div>
        <div class="d-flex flex-column mt-6">
          <h4 class="fs-3 text-gray-900 fw-bold mb-6">握感厚實溫潤，送禮首選</h4>
          <p class="d-flex flex-column mb-0 lh-1-2">
            <span class="fs-5 text-gray-600">杯身握感厚實溫潤，適合飲茶或咖啡使用</span>
            <span class="fs-5 text-gray-600">適合日常生活使用，也適合作為送禮選品</span>
          </p>
        </div>
      </div>
      <img src="../assets/images/product-item/dot-2.svg" alt="" class="dot-2-style ">
    </section>
    <section class="container pt-lg-11 pt-10 mb-lg-10 mb-6">
      <h5 class="title-bottom-left fs-lg-4 fs-5 text-gray-900 mb-10">你可能也想看</h5>
    </section>
    <section class="container-fluid pb-11 d-flex align-items-center justify-content-center gap-6 overflow-hidden">
      <img src="../assets/images/product/arrow-left-2.svg" alt="Previous" class="p-3 d-lg-block d-none" id="prevBtn">
      <div class="container mx-0 overflow-hidden">
        <div class="row  d-flex  overflow-auto mobile-scroll flex-nowrap gap-6 "  id="cardFlow">
          <div class="col-3 px-0 card-flow-size">
            <div class="card border-0 position-relative ">
              <div class="position-relative">
                <img src="../assets/images/index/item-1.jpg" class="card-img-top card-img-height card-top-left-radius" alt="...">
                <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
              </div>
              <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">手作生活</span>
              <div class="card-body ">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                  <span class="fs-lg-4 fs-5 fw-bold">手工陶杯組</span>
                  <a href=""><img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none"></a>
                </h5>
                <p class="card-text py-4 mb-0 border-bottom border-gray-900">
                  <span class="fs-lg-6 fs-7">NT$</span>
                  <span class="fw-bold fs-lg-4 fs-5">3,600</span>
                </p>            
              </div>
            </div>
          </div>
          <div class="col-3 px-0 card-flow-size">
            <div class="card border-0 position-relative">
              <div class="position-relative">
                <img src="../assets/images/index/item-2.jpg" class="card-img-top card-img-height card-top-left-radius" alt="...">
                <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
              </div>
              <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">手作生活</span>
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                  <span class="fs-lg-4 fs-5 fw-bold">柴燒碗盤組</span>
                  <a href=""><img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none"></a>
                </h5>
                <p class="card-text py-4 mb-0 border-bottom border-gray-900">
                  <span class="fs-lg-6 fs-7">NT$</span>
                  <span class="fw-bold fs-lg-4 fs-5">6,666</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 px-0 card-flow-size">
            <div class="card border-0 position-relative">
              <div class="position-relative">
                <img src="../assets/images/index/item-3.jpg" class="card-img-top card-img-height card-top-left-radius" alt="...">
                <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
              </div>
              <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">手作生活</span>
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                  <span class="fs-lg-4 fs-5 fw-bold">原木手工椅</span>
                  <a href=""><img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none"></a>
                </h5>
                <p class="card-text py-4 mb-0 border-bottom border-gray-900">
                  <span class="fs-lg-6 fs-7">NT$</span>
                  <span class="fw-bold fs-lg-4 fs-5">8,888</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 px-0 card-flow-size">
            <div class="card border-0 position-relative">
              <div class="position-relative">
                <img src="../assets/images/index/item-4.jpg" class="card-img-top card-img-height card-top-left-radius" alt="...">
                <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
              </div>
              <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">手作生活</span>
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                  <span class="fs-lg-4 fs-5 fw-bold">植物染絲巾</span>
                  <a href=""><img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none"></a>
                </h5>
                <p class="card-text py-4 mb-0 border-bottom border-gray-900">
                  <span class="fs-lg-6 fs-7">NT$</span>
                  <span class="fw-bold fs-lg-4 fs-5">1,999</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-3 px-0 card-flow-size">
            <div class="card border-0 position-relative">
              <div class="position-relative">
                <img src="../assets/images/index/item-4.jpg" class="card-img-top card-img-height card-top-left-radius" alt="...">
                <span class="heart-pos p-4 "><img src="../assets/images/index/icon-heart.svg" alt="" class="heart-icon"></span>
              </div>
              <span class="fs-6 fs-lg-5 fw-normal fw-lg-bold text-white bg-gray-900 p-4 position-absolute top-0 end-0 bage-border-bottom-left-radius">手作生活</span>
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                  <span class="fs-lg-4 fs-5 fw-bold">植物染絲巾</span>
                  <a href=""><img src="../assets/images/header/icon-arrow.svg" alt="" class="p-3 d-lg-block d-none"></a>
                </h5>
                <p class="card-text py-4 mb-0 border-bottom border-gray-900">
                  <span class="fs-lg-6 fs-7">NT$</span>
                  <span class="fw-bold fs-lg-4 fs-5">1,999</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="../assets/images/product/arrow-right-2.svg" alt="Next" class="p-3 d-lg-block d-none" id="nextBtn">
    </section>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../assets/js/index.js"></script>
    <script type="module" src="../assets/js/product-item.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
